.container
 .header
  .menu
   .cruz
   ul
    li.inicio Inicio
    li.perfil Perfil
    li.notifi Notificaciones
    li.mensajes Mensajes
    li.config Configuraciones
  h2 Notificaciones
 .notificaciones
  .notif1
   span.hora 8:29 PM
   h4.nombre Dylan O'brian
   p publicó una foto en tu muro
  .notif2
   span.hora 8:05 PM
   h4.nombre Brissa Ortiz
   p te etiquetó en una foto
  .notif3
   span.hora 7:47 PM
   h4.nombre Flor Britez
   p te etiquetó en un comentario
  .notif4
   span.hora 7:40 PM
   h4.nombre Marcos Gutiérrez
   p y vos ya son amigos
  .notif5
   span.hora 7:34 PM
   h4.nombre Ale Perez
   p publicó una foto en tu muro
  .notif6
   span.hora 7:13 PM
   h4.nombre Matías Rodriguez
   p publicó en tu muro